@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*
* primary green: #4c8930;
*/

.nav-bg {
  background-color: #4c8930;
}

.parallax_caption {

  color: #ffffff; 
  font-size: 48px; 
  font-family: 'Open Sans', sans-serif;
}

.btn-green {
  background-color: #4c8930;
  color: white;
}

.btn-green:hover {
  background-color: #3f7128;
  color: white;
}


.countUpNumbers {
  font-family: 'Open Sans', sans-serif;
  font-size: 44px;
}



.title {
  font-weight: 600;
}

footer {
  background-color: #000000;
  color: #ffffff;
  position: relative;
}

a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

p, h3, button {
  font-family: 'Open Sans', sans-serif;
}
