@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/*
* primary green: #4c8930;
*/

.nav-bg {
    background-color: #4c8930;
}

@media screen and (max-width: 713px) {
    .parallaxCaption {
        color: #ffffff;
        font-size: 38px;
        font-family: 'Open Sans', sans-serif;
    }
}

@media screen and (min-width: 713px) {
    .parallaxCaption {
        color: #ffffff;
        font-size: 48px;
        font-family: 'Open Sans', sans-serif;
    }
}

.btn-green {
    background-color: #4c8930;
    color: white;
}

.btn-green:hover {
    background-color: #3f7128;
    color: white;
}

.countUpNumbers {
    font-family: 'Open Sans', sans-serif;
    font-size: 44px;
}

.title {
    font-weight: 600;
}

@media screen and (max-width: 865px) {
    .companyInfo {
        font-size: 24px;
    }
}

@media screen and (min-width: 865px) {
    .companyInfo {
        font-size: 28px;
    }
}

footer {
    background-color: #000000;
    color: #ffffff;
    position: relative;
}

a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

p,
h3,
button {
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 713px) {
    .card {
        max-width: 304px;
        height: auto;
    }
}

@media screen and (min-width: 713px) {
    .card {
        width: 15rem;
        height: 100%;
    }
}


@media only screen and (max-width: 1200px) {
    .paddingFullSite {
            padding-inline: 30px;
        }

        .paddingNewsfeed {
            padding-inline: 10px;
        }
}

@media only screen and (min-width: 1200px) {
    .paddingFullSite {
        padding-inline: 150px;
    }

    .paddingNewsfeed {
        padding-inline: 80px;
    }
}

@media only screen and (min-width: 1700px) {
    .paddingFullSite {
        padding-inline: 250px;
    }

    .paddingNewsfeed {
        padding-inline: 190px;
    }
}

@media only screen and (min-width: 1945px) {
    .paddingFullSite {
        padding-inline: 400px;
    }

    .paddingNewsfeed {
        padding-inline: 330px;
    }
}

